@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Roboto:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  outline: 1px solid white;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100vw;
  min-height: 100%;
  font-family: 'Roboto',
  sans-serif;
  /*background-color: #331b3f !important;
  color: #acc7b4 !important;*/
}

h1,
h2,
h3 {
  font-family: 'Rammetto One',
  cursive;
}

/* Theme */
.text-dark {
  color: #331b3f !important;
}

.text-light {
  color: #acc7b4 !important;
}

.heading-dark {
  color: #331b3f !important;
}

.heading-light {
  color: #acc7b4 !important;
}

.bg-light {
  background-color: #acc7b4 !important;
}

.bg-dark {
  background-color: #331b3f !important;
  }

.btn-light {
  background-color: #acc7b4 !important;
  border-radius: .25rem;
  color: #331b3f !important;
  font-weight: 700;
}

.btn-dark {
  background-color: #331b3f !important;
  border-radius: .25rem;
  color: #acc7b4 !important;
  font-weight: 700;
}

.link-light {
  background-color: #acc7b4 !important;
}

.link-dark {
  background-color: #331b3f !important;
}

/* Main Styling */

.container {
  margin-top: 1rem;
  margin-bottom: 1rem; 
  justify-content: center;
  height: 100%;
  width: 100%;
}

.breadcrumb__container {
  margin: 2rem;
  justify-content: center;
}

.breadcrumb-item  a {
  font-size: 1.8rem;
}

/* Custom Navbar */

.logo {
  width: 5rem;
  height: 5rem;
}
.navbar-toggler {
  background-color: #acc7b4 !important;
}


.nav-link {
  font-size: 1.8rem;
  font-weight: 700;
}

.card .card-footer {
  align-items: flex-end; 
}




/* Jumbotron */

.jumbotron__container {
  /*margin: 6rem 2rem;*/
}

.jumbotron-row {
  margin: 6rem 2rem;
}




.jumbotron-subtitle {
  font-size: 1.4rem;
}

.jumbotron-text {
  font-size: 1.6rem;
}

.jumbotron-button {
  height: 4rem;
  width: 15rem;
}

.jumbotron-button a {
  font-size: 1.4rem;

}



.profile-pic {
  width: 60%;
  height: auto;
  
}


.profile-name {
  
}

.header-pic {
  width: 90%;
  margin: auto;

}

/* Projects */
.project__container {
  /*margin-top: 5rem !important;*/
  height: 100%;
  padding-top: 4rem;

}
.project__header {
  height: 8rem;
}

.project-pic {
  width: 60%;
  height: auto;
}

.project-link {
  
}
.code-icon {
  width: 5%;
  
}
/* Skills */
.skills__container {
  height: 20rem;
}

/* Contact */


/* Footer */ 






/* Media Queries */
